.wrapper {
    position: relative;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
  }
  
  .card {
    grid-area: 1 / 1;
    height: 25vmin;
    width: 50vmin;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: rgba(249, 198, 26, 0.85);
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
  }
  
  h1 {
    font-weight: 900;
  }
  
  .card .enclosed {
    background: #000;
    line-height: 1;
    color: rgba(249, 198, 26, 1);
    padding: 0 5px;
    display: inline-block;
    transform: translate(-1px, 1px) scale(0.75);
    transform-origin: right center;
  }
  
  .wrapper:before {
    --bw: 9px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid #000;
    box-sizing: content-box;
  }
  
  
  .wrapper:hover > div,
  .wrapper:hover:before {
    transform: none;
  }
  
  
  .wrapper > div,
  .wrapper:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25,.46,.45,1);
  }
  
  
  
  html,
  body {
    height: 100%;
  }

  #listContainer {
    display: 'contents' ;
  }

 #titleDiv {
   max-width: 30%;
 }

 #contentDiv {
   width: 70%;
   display: block;
 }

  h1.title {
    font-size: 4vmin;
    position:absolute ;
    left:1% ;
    top:1% ;
  }

  p.content {
    font-size: 2.1vmin;
    pointer-events: none;
    position:absolute ;
    left:4% ;
    top:20% ;
  }

  p.sign {
    font-size: 2vmin;
    text-align: right;
    pointer-events: none;
    position:absolute ;
    bottom:2% ;
    right:5% ;
  }